<p id="notice"><%= notice %></p>

<p>
  <strong>Section:</strong>
  <%= @ad.section_id %>
</p>

<p>
  <strong>Integer:</strong>
  <%= @ad.integer %>
</p>

<p>
  <strong>Ad type:</strong>
  <%= @ad.ad_type %>
</p>

<p>
  <strong>Advertiser:</strong>
  <%= @ad.advertiser %>
</p>

<%= link_to 'Edit', edit_ad_path(@ad) %> |
<%= link_to 'Back', ads_path %>
