<p id="notice"><%= notice %></p>

<h4>Listing Section Templates</h4>
<select name="heading">
  <option value="has heading">Has heading</option>
  <option value="No Heading">No Heading</option>
</select>

<select name="Ad Type">
  <option value="all">all </option>
  <option value="5 Dan">5 Dan </option>
  <option value="7 Dan">7 Dan</option>
  <option value="15 Dan">10 Dan</option>
  <option value="audi">15 Dan</option>
</select>
<br><br>


<table>
  <thead>
    <tr>
      <th>SVG</th>
      <th>Grid base</th>
      <th>Grid key</th>
      <th>Has heading</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @section_templates.each do |section_template| %>
      <tr>
        <td><%= raw section_template.svg_thumb %></td>
        <td><%= section_template.grid_base %></td>
        <td><%= section_template.grid_key %></td>
        <td><%= section_template.has_heading %></td>
        <td><%= link_to 'Show', section_template %></td>
        <td><%= link_to 'Edit', edit_section_template_path(section_template) %></td>
        <td><%= link_to 'Destroy', section_template, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Section template', new_section_template_path %>
