<p id="notice"><%= notice %></p>

<p>
  <strong>Grid key:</strong>
  <%= @section_template.grid_key %>
</p>



<div align='center'>
	<%= raw @section_template.svg %>
</div>


<%= link_to 'Edit', edit_section_template_path(@section_template) %> |
<%= link_to 'Back', section_templates_path %>
